# Data
data/
*.parquet

# Environments
deproject/

# Notes & code
scratchnotes.md
testgcs.py
flows/toronto_reporting_pipeline.py
flows/toronto_stations.py

# MacOS
.DS_Store

# Terraform
*.tfstate
*.tfstate.*
**.terraform
**.terraform.lock.*

# Settings
.vscode/settings.json
